body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F2F2F7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*Structure page*/
.s-space{
  display: flex;
  justify-content: space-between;
}
.s-left{
  min-height: 100vh;
  width: 5vw;
  background-color: #fff;
}
.s-right{
  min-height: 100vh;
  width: 5vw;
  background-color: #fff;
}

.s-center {
  display: flex;
  align-items: center;
  flex-direction: column;
  column-gap: 1px;
  
    
}
.s-header{
  height: 8vh;
  width: 89.5vw;
  background-color: white;
}
.s-conteiner{
  height: 92vh;
  width: 89.5vw;
  background-color: grey;
  

}

