body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F2F2F7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*Structure page*/
.s-all{
  display: flex;
  justify-content: space-between;
}



/*border left*/
.s-left-top{
  height: 9vh;
  width: 5vw;
  background-color: #fff;
  box-sizing: border-box;
  border-bottom: 2px solid #F2F2F7;
  border-right: 2px solid #F2F2F7;
}
.s-left-bottom{
  height: 91vh;
  width: 5vw;
  background-color: #fff;
  border-right: 2px solid #F2F2F7;
  box-sizing: border-box;
}
/*border right*/
.s-right-top{
  height: 9vh;
  width: 5vw;
  background-color: #fff;
  box-sizing: border-box;
  border-bottom: 2px solid #F2F2F7;
  border-left: 2px solid #F2F2F7;
  
}

.s-right-bottom{
  height: 91vh;
  width: 5vw;
  background-color: #fff;
  border-left: 2px solid #F2F2F7;
  box-sizing: border-box;
}

/*center*/
.s-center{
  display: flex;
  justify-items: center;
  flex-direction: column;
}
.s-header{
  height: 9vh;
  width: 90vw;
  background-color: #fff;
  box-sizing: border-box;
  border-bottom: 2px solid #F2F2F7;
}
.s-conteiner{
  height: 91vh;
  width: 90vw;
  background-color: #fff;
  box-sizing: border-box;
  
}



/*Responsive*/
@media screen and (max-width:1200px) {
  .s-left,.s-right{
    display: none;
  }
  .s-header,.s-conteiner{
    width: 100vw;
  }
  }