@import url("../../Asset/fonts/fonts.css");

.h-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 2%;
    
    
}

.h-notif{
    height: 5vh;
    width: 5vh;
    background-color: red;
}
li{
    
    display: inline-block;
    margin-right: 40px;
    color: #D0D1D2;
    font-size: 1em;
    font-family: "poppins semi";
    cursor: pointer;
}
li:hover{
    
    color : #11263C;
}

/*shearch*/
.h-shearch{
    height: 40px;
    width: 300px;
    border: none;
    background-color: #F1F3F5;
    border-radius: 15px;
    justify-content: center;
    padding-left: 45px;
    font-family: 'poppins semi';
    color: #11263C;
}
.h-shearch-icon{
    font-size: 20px;
    color : #594999;
    font-weight: bold;
    left: 2vw;
    position: relative;
    top: 5px;

}

/*notif*/
.h-notif{
    height: 40px;
    width: 40px;
    border-radius: 15px;
    background-color: #F1F3F5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.h-bell-icon{
    font-size: 15px;
    color : #594999;
    font-weight: bold;
    

}